{% extends "public/templates/public_template.html" %}
{% import "macros/input_macros.html" as im %}

{% block title %}Jinja{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Jinja</h1>
        <hr>
        <h4>Looping through an iterable</h4>
        <hr>

        <p class="dateString">{{ date|clean_date }}</p>
        
        <strong class="d-block mb-3">Programming languages</strong>
        <ul>
          {% for name, age in friends.items() %}
          <li>{{loop.index}} {{ name }}: {{ repeat(age, 3 ) }}</li>
          {% endfor %}
        </ul>
        {{ niceDiv|safe }}
    </div>
    <div class="input_macro">
      
      <form action="#" method="POST">

        {{ im.input(label="Name", id="name", name="name", placeholder="Enter your name") }}
    
        {{ im.input(label="Email", type="email", id="email", name="email", placeholder="Enter your email") }}
    
        {{ im.input(label="Password", id="password", name="password", placeholder="Enter your password") }}
    
      </form>
    </div>
  </div>
</div>

{% endblock %}